Header, footer {
    width: 100%;
    left: 100px;
    height: 200px;
    top: 100px;
    background-color: rgb(255, 113, 36);
    text-align: center;
    border-radius: 20%;
    padding: 20px;
    margin-left: -10px;
}
header {
    margin-top: -50px;
}
footer {
    margin-bottom: -50px;
}

body {
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: black;
}

.form {
    border-style: solid;
    border-radius: 20px;
    border-radius: 20%;
    border-color: rgb(255, 113, 36);
    padding: 20px;
}

/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: rgb(255, 113, 36);
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(225, 96, 26);
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: red;
    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 50px;
    font-size: 17px;
    border-radius: 10%;
  }

  /* Einde nav */

  .img {
    text-align: right;
  }