.blue, .black, .red, .green {
    height: 200px;
    width: 200px;
    max-width: 1200px;
}
.blue {
    color: blue;
    background-color: blue;
}
.black {
    color: black;
    background-color: black;
}
.red {
    color: red;
    background-color: red;
}
.green {
    color: green;
    background-color: green;
}
ul {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}
.Ul2 {
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    list-style: none;
    margin-bottom: 200px;
}
